<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,500;0,700;1,200;1,300;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>CoachHer</title>
</head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a class="navLinks" href="/">Home</a></li>
          <li><a class="navLinks" href="/browsecoaches">Browse Coaches</a></li>
          <li><a class="navLinks" href="/signup">Sign Up</a></li>
          <li><a class="navLinks" href="/login">Log In</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="directory">
        <section class="login">
          <h2>Log In</h2>
          <a class="go" href="/login">Go!</a>

          <p>Don't have an account yet? <a href="/signup">Sign up here!</a> </p>
        </section>

        <!-- Intro section -->
        <section class="intro">
          <h2>Welcome to CoachHer!</h2>
            <a class="introLinks" href="/signup">Sign Up</a>
            <a class="introLinks" href="/browsecoaches">Find a Coach</a>
        </section>
      </section>
      <!-- Login Section -->


      <!-- About section -->
      <section class="aboutPic">

      </section>

      <h1>About CoachHer</h1>
      <p class="about"> Every bodybuilder needs a great coach. CoachHer links female amatuer and professional bodybuilding athletes to coaches. In the bodybuilding world, the communities for athletes are male focused and can be exclusive. CoachHer provides a centralized environment for private, safe, and professional communications between athletes and coaches. Sign up and find your coach today! <a href="/signup">Sign Up</a></p>

    </main>
    <footer>
      <p class="copy"> Copyright © 2021 CoachHer. All rights reserved.</p>
    </footer>
  </body>
</html>
