<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,500;0,700;1,200;1,300;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style5.css">

    <title>CoachHer</title>

    <style media="screen">
    html{
      font-size: 62.5%;
      font-family: 'Josefin Sans', sans-serif;
    }
    a:hover{
      color: rgb(219,144,234);
    }

    p{
      font-weight: 300;
      margin-left: 2rem;
    }

    header{
      background: url(../img/cover.png), rgb(234,227,245);
      background-size: contain;
      background-repeat: no-repeat;
      border-bottom:.2rem solid rgb(37,26,53);
      height: 10rem;
    }

    nav ul{
      display: grid;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 700;
      grid-template-columns: 20% 20% 20% 20% 20%;
      padding-top: 4rem;
      margin-left: 50%;
      width:50%;
    }

    nav a {
      text-decoration: none;
    }


    footer {
      background: rgb(234,227,245);
      border-top: .2rem solid rgb(37,26,53);
      height: 2rem;
    }
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 60rem);
      grid-auto-rows: 60rem;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    </style>

  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a class="navLinks" href="/">Home</a></li>
          <li><a class="navLinks" href="/browsecoaches">Browse Coaches</a></li>
          <li><a class="navLinks" href="/signup">Sign Up</a></li>
          <li><a class="navLinks" href="/login">Log In</a></li>
          <li><a class="navLinks" href="/">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <div id="video-grid"></div>

  <script> const ROOM_ID = "<%= roomId %>"</script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/script.js" defer></script>
  </body>
</html>
